:root {
  --main-accent: #ecc8b2;
  --main-strong-accent: #f39256;
  --cart-icon-color: rgb(161, 253, 167);
  --grey-light: #a19595;
  --grey: #707a88;
  --dark-alt: #334155;
  --dark: #1e293b;
  --darker: #020202;
  --light: #ffffff;
  --lightB: #fff5ef;
  --lightB-darker: #ebd5c9;
  --orange: #f39256;
  --sidebar-width: 300px;
}
